# General Configuration
PORT=3000

# Message Broker Configuration
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# Database Connections (Local development default)
# Note: Inside docker-compose, these will point to the postgres host.
DATABASE_URL_ORDER=postgresql://postgres:postgres@localhost:5432/order_db
DATABASE_URL_PAYMENT=postgresql://postgres:postgres@localhost:5432/payment_db
DATABASE_URL_INVENTORY=postgresql://postgres:postgres@localhost:5432/inventory_db
DATABASE_URL_SHIPPING=postgresql://postgres:postgres@localhost:5432/shipping_db
